<div class="sidebar">
  <div class="container">
    <div class="sidebar-about">
    <span class="image avatar"><img src="{{ site.baseurl }}image/tao.JPG" alt="" /></span>
      <h1>
        <a href="{{ site.baseurl }}">
          {{ site.title }} 
        </a>
      </h1>
      <p class="lead">{{ site.description }}</p>
    </div>

    <nav class="sidebar-nav">
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}#bio">Short Bio</a>
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}#exp">Experiences</a>
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}#pub">Publications</a>
      <a class="sidebar-nav-item{% if page.url == site.baseurl %} active{% endif %}" href="{{ site.baseurl }}docs/CV.pdf">CV</a>

      {% comment %}
        The code below dynamically generates a sidebar nav of pages with
        `layout: page` in the front-matter. See readme for usage.
      {% endcomment %}

      {% assign pages_list = site.pages %}
      {% for node in pages_list %}
        {% if node.title != null %}
          {% if node.layout == "page" %}
            <a class="sidebar-nav-item{% if page.url == node.url %} active{% endif %}" href="{{ node.url }}">{{ node.title }}</a>
          {% endif %}
        {% endif %}
      {% endfor %}

    </nav>

    <div class = "sidebar-sticky">
      <footer>
      <div class = "outer">
        &nbsp &nbsp <a href="https://twitter.com/_wutao_"><img title="Twitter" src="{{ site.baseurl }}image/twitter.png" alt="Twitter" width="35" height="35" /></a> &nbsp &nbsp
        <a href="https://www.linkedin.com/in/tao-wu-8726055a?trk=nav_responsive_tab_profile"><img title="Linkedin" src="{{ site.baseurl }}image/linkedin.png" alt="Linkedin" width="35" height="35" /></a>&nbsp &nbsp
        <a href="https://github.com/wutao27"><img title="Github" src="{{ site.baseurl }}image/github.png" alt="Github" width="35" height="35" /></a>
      </div>
      </footer>
      <p>&copy; {{ site.time | date: '%Y' }}. All rights reserved.</p>
    </div>
  </div>
</div>
